@import '../bower_components/normalize-css/normalize.css';
@import url("https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700");
body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Helvetica", sans-serif;
}
.container {
  *zoom: 1;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
.container:before{
  content: '';
  display: table;
}
.container:after{
  content: '';
  display: table;
  clear: both;
}
.clear {
  clear: both;
}
@media (max-width: grid_md) {
}
.Navigation {
  background: #467820;
  color: #fff;
}
.Navigation .container {
  height: 64px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.Navigation a {
  color: #fff;
  text-decoration: none;
}
.Navigation__brand {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.Navigation__brand img {
  max-width: 157px;
  width: 100%;
}
.Navigation__links {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}
.Navigation__links ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.Navigation__links li {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}
.Navigation__links li.brand-mark {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
}
.Navigation__links li.account {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
}
.Navigation__account {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: right;
}
.Banner {
  height: 400px;
  background: #f2f2f2;
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.Banner__headline {
  color: #000;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}
body.home .Banner__headline {
  width: calc(99.99% * 6/12 - (30px - 30px * 6/12));
}
body.home .Banner__headline:nth-child(n){
  float: left;
  margin-right: 30px;
  clear: none;
}
body.home .Banner__headline:last-child{
  margin-right: 0;
}
body.home .Banner__headline:nth-child(12n){
  margin-right: 0;
}
body.home .Banner__headline:nth-child(12n + 1){
  clear: left;
}
.Banner__headline h1 {
  width: 100%;
  display: block;
}
.Banner__headline p {
  width: 100%;
  display: block;
}
form > div {
  width: calc(99.99% * 1 - (30px - 30px * 1));
  height: calc(99.99% * 1 - (30px - 30px * 1));
}
form > div:nth-child(n){
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
  clear: none;
}
form > div:last-child{
  margin-right: 0;
  margin-bottom: 0;
}
form > div:nth-child(undefinedn){
  margin-right: 0;
}
form > div:nth-child(undefinedn + 1){
  clear: left;
}
form > div:nth-last-child(-n + undefined){
  margin-bottom: 0;
}
form label {
  display: block;
  font-family: 'Quattrocento Sans';
  font-size: 0.75em;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2;
  color: #777;
}
form input[type="text"],
form input[type="email"],
form input[type="password"] {
  border-style: none;
  border-bottom: 2px solid #ccc;
  background: #eee;
  height: 40px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  font-size: 0.85em;
  box-sizing: border-box;
  padding: 0 10px;
}
form [type="submit"] {
  display: inline-block;
  background: #fff;
  border: 2px solid #467820;
  color: #467820;
  font-weight: 500;
  font-size: 1.25em;
  border-radius: 3px;
  padding: 10px 20px;
}
.Login {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #f0f0f0;
}
.Banner .Login {
  width: calc(99.99% * 5/12 - (30px - 30px * 5/12));
}
.Banner .Login:nth-child(n){
  float: left;
  margin-right: 30px;
  clear: none;
}
.Banner .Login:last-child{
  margin-right: 0;
}
.Banner .Login:nth-child(12n){
  margin-right: 0;
}
.Banner .Login:nth-child(12n + 1){
  clear: left;
}

/*# sourceMappingURL=app.css.map */
