/*
VARIABLES
*/
/*
MIXINS
*/
.text-center {
  text-align: center !important; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.clearfix {
  clear: both !important; }

.pull-left {
  float: left !important; }

.pull-right {
  float: right !important; }

/*
GLOBAL
*/
body {
  background: #3b6700 url(../img/bg-body.png) top center repeat-y;
  font-family: "museo-sans", Helvetica, sans-serif;
  font-size: 16px; }

/*
LAYOUT
*/
.container {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  display: block; }

.wrapper {
  padding: 10px 20px; }

.full-width {
  width: 100%; }

h1 {
  font-size: 2.25em;
  line-height: 1.25;
  margin: 15px 0;
  font-weight: 700; }

h2 {
  font-size: 2em;
  line-height: 1.25;
  margin: 15px 0;
  font-weight: 700; }

h3 {
  font-size: 1.75em;
  line-height: 1.25;
  margin: 15px 0;
  font-weight: 700; }

h4 {
  font-size: 1.5em;
  line-height: 1.25;
  margin: 15px 0;
  font-weight: 700; }

h5 {
  font-size: 1.25em;
  line-height: 1.25;
  margin: 15px 0;
  font-weight: 700; }

h6 {
  font-size: 1em;
  line-height: 1.25;
  margin: 15px 0;
  font-weight: 700; }

p {
  font-size: 1.125em;
  font-family: "museo", Georgia, serif;
  line-height: 1.75; }

small {
  font-size: .5em;
  font-family: inherit; }

@media (max-width: 320px) {
  h1 {
    font-size: 2em;
    line-height: 1.25;
    margin: 15px 0; }

  h2 {
    font-size: 1.75em;
    line-height: 1.25;
    margin: 15px 0; }

  h3 {
    font-size: 1.5em;
    line-height: 1.25;
    margin: 15px 0; }

  h4 {
    font-size: 1.25em;
    line-height: 1.25;
    margin: 15px 0; }

  h5 {
    font-size: 1em;
    line-height: 1.25;
    margin: 15px 0; } }
.button.green-button {
  background: #3b6700;
  color: #fff;
  font-family: "museo-sans", Helvetica, sans-serif;
  font-size: 1.5em;
  width: 100%;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border: none;
  outline: none;
  text-transform: uppercase;
  padding: 5px 15px;
  text-decoration: none; }
  .button.green-button.inactive {
    background: #d8bf18; }
.button.yellow-button {
  background: #3b6700;
  color: #fff;
  font-family: "museo-sans", Helvetica, sans-serif;
  font-size: 1.5em;
  width: 100%;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border: none;
  outline: none;
  text-transform: uppercase;
  padding: 5px 15px;
  text-decoration: none;
  background: #E9D23A;
  color: #3b6700; }
  .button.yellow-button.inactive {
    background: #d8bf18; }

input::-webkit-input-placeholder {
  color: #aaa !important;
  font-family: "museo", Georgia, serif;
  font-size: 1em; }

input:-moz-placeholder {
  /* Firefox 18- */
  color: #aaa !important;
  font-family: "museo", Georgia, serif;
  font-size: 1em; }

input::-moz-placeholder {
  /* Firefox 19+ */
  color: #aaa !important;
  font-family: "museo", Georgia, serif;
  font-size: 1em; }

input:-ms-input-placeholder {
  color: #aaa !important;
  font-family: "museo", Georgia, serif;
  font-size: 1em; }

.form-group {
  position: relative;
  margin: 0 0 15px 0; }
  .form-group.two-col {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 0 0px 0px 10px; }
    .form-group.two-col:nth-child(even) {
      padding: 0; }
  .form-group label {
    padding: 6px 12px 0px;
    position: absolute;
    color: #888;
    font-weight: bold;
    display: none; }

input.form-style {
  width: 100%;
  min-height: 60px;
  display: block;
  padding: 10px 10px;
  box-sizing: border-box;
  color: #31520b;
  font-size: 1.25em; }
  input.form-style:focus {
    padding-top: 20px; }
input[type="submit"] {
  background: #3b6700;
  color: #fff;
  font-family: "museo-sans", Helvetica, sans-serif;
  font-size: 1.5em;
  width: 100%;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border: none;
  outline: none;
  text-transform: uppercase;
  padding: 5px 15px;
  text-decoration: none; }
  input[type="submit"].inactive {
    background: #d8bf18; }

.tabs .tab-heading {
  cursor: pointer; }
.tabs .tab-single {
  z-index: 9999; }
  .tabs .tab-single .tab-content {
    display: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .tabs .tab-single.active {
    z-index: 100; }
    .tabs .tab-single.active .tab-content {
      display: block; }

nav.navigation li {
  list-style-type: none; }
nav.navigation a.nav-dropdown {
  float: right;
  padding: 10px 20px; }

ul.navigation {
  list-style-type: none; }

/*
PAGES
*/
.heading {
  color: #fff; }

.page {
  background: #E9D23A;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  padding: 0px 0 0px; }
  .page h2 {
    color: #3b6700;
    text-transform: uppercase; }
  .page h3, .page h4 {
    color: #3b6700;
    font-weight: 500; }
  .page .sub-section {
    background: #F3AE3E;
    padding: 10px 0px;
    margin-top: 20px; }

/*
HOMEPAGE
*/
.tabs {
  margin: 35px auto;
  position: relative; }
  .tabs > div {
    position: absolute;
    width: 100%; }
  .tabs h4 {
    padding: 15px 25px;
    width: 30%;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    margin: 0; }
  .tabs .form-container {
    min-height: 260px; }
  .tabs .sign-up .tab-content, .tabs .log-in .tab-content {
    min-height: 300px; }
  .tabs .sign-up h4 {
    color: #3b6700;
    background: #E9D23A; }
  .tabs .sign-up .form-container {
    background: #E9D23A; }
  .tabs .log-in h4 {
    color: #3b6700;
    background: #F3AE3E; }
  .tabs .log-in .form-container {
    background: #F3AE3E; }

.road-checkmark {
  position: relative;
  height: 102px;
  -webkit-border-radius: 1000px 5px 5px 1000px;
  -moz-border-radius: 1000px 5px 5px 1000px;
  border-radius: 1000px 5px 5px 1000px; }
  .road-checkmark a.checkmark {
    width: 102px;
    height: 102px;
    display: block;
    background: url("../img/road-checkmark.png");
    background-size: 100% 100%;
    text-indent: -9999px;
    z-index: 1000;
    position: absolute;
    cursor: pointer; }
  .road-checkmark .task {
    background: #3b6700;
    -webkit-border-radius: 1000px 5px 5px 1000px;
    -moz-border-radius: 1000px 5px 5px 1000px;
    border-radius: 1000px 5px 5px 1000px;
    overflow: hidden;
    width: 100%;
    position: absolute;
    height: 102px;
    display: block;
    z-index: 100; }
    .road-checkmark .task span {
      float: left;
      margin: 0 0 0 110px;
      padding: 20px 10px 20px 15px;
      font-size: 1.5em;
      color: #fff; }
  .road-checkmark a.help {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 57px;
    height: 57px;
    display: block;
    background: url(../img/road-help.png);
    background-size: 100% 100%;
    text-indent: -9999px; }

.one-for-the-road .task-none {
  display: none;
  background: #d8bf18;
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
  text-align: center;
  padding: 20px; }
  .one-for-the-road .task-none h1 {
    color: #7c6e0e; }
.one-for-the-road.inactive .task-container {
  display: none; }
.one-for-the-road.inactive .task-none {
  display: block; }

.page-dashboard {
  overflow: hidden; }
  .page-dashboard .category-list {
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
    display: block;
    padding: 0; }
    .page-dashboard .category-list li {
      background: #fff;
      box-sizing: border-box;
      margin: 0 0 15px 0;
      font-size: 1.125em;
      position: relative;
      list-style-type: none; }
      .page-dashboard .category-list li a {
        font-family: "museo", Georgia, serif;
        color: #606060;
        text-decoration: none;
        width: 100%;
        display: block;
        padding: 20px 25px 20px 64px; }
        .page-dashboard .category-list li a:before {
          content: " ";
          width: 33px;
          height: 41px;
          background: url(../img/ico-category.png) center center no-repeat;
          -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
          display: block;
          position: absolute;
          top: -10px;
          left: 20px; }

.overlay-modal {
  position: fixed;
  height: 100vh;
  width: 100%;
  display: none;
  top: 0;
  left: 0;
  background: rgba(59, 103, 0, 0.9);
  z-index: 9999;
  color: #fff; }
  .overlay-modal img.face {
    width: 100%;
    max-width: 230px;
    margin: 0 auto -40px;
    display: block; }
  .overlay-modal a.close {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0; }

.modal-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.modal-container {
  text-align: center;
  position: relative;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  display: block; }

.overlay-modal.navigation .modal-wrapper {
  display: block !important;
  padding-top: 50px; }
.overlay-modal.navigation ul.navigation {
  padding: 100px 0; }
  .overlay-modal.navigation ul.navigation a {
    color: #fff;
    font-size: 3em;
    font-weight: bold;
    text-decoration: none;
    background: #31520b;
    width: 100%;
    text-align: center;
    display: block;
    padding: 10px;
    margin: 0 0 10px 0;
    box-sizing: border-box;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px; }

.category-block {
  padding: 0;
  margin: 0; }
  .category-block li {
    height: 150px;
    background: #2c4e00;
    width: 50%;
    box-sizing: border-box;
    float: left;
    text-align: center;
    padding: 10px;
    border: 2px solid #3b6700;
    list-style-type: none; }
    .category-block li a {
      display: -webkit-box;
      /* OLD - iOS 6-, Safari 3.1-6, BB7 */
      display: -ms-flexbox;
      /* TWEENER - IE 10 */
      display: -webkit-flex;
      /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
      display: flex;
      /* NEW, Spec - Firefox, Chrome, Opera */
      align-items: center;
      justify-content: center;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.25em;
      font-weight: 700;
      width: 100%;
      height: 100%;
      cursor: pointer; }
      .category-block li a.active {
        background: #F3AE3E;
        color: #3b6700; }

.category-pagination ul {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  width: 100%; }
.category-pagination li {
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  width: 20%;
  /* For old syntax, otherwise collapses. */
  -webkit-flex: 1;
  /* Safari 6.1+. iOS 7.1+, BB10 */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
  text-align: center;
  box-sizing: border-box;
  height: 100%;
  border: 1px solid #3b6700;
  padding: 20px;
  list-style-type: none; }
.category-pagination a {
  color: #3b6700;
  width: 100%;
  height: 100%;
  display: block; }

.gender-choices a {
  height: 125px;
  width: 50%;
  float: left;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  background: #F3AE3E;
  color: #fff;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-align: center; }
  .gender-choices a span {
    padding: 0 0 5px 0;
    display: block; }
  .gender-choices a:nth-child(2), .gender-choices a:nth-child(3) {
    background: #ed9126; }
  .gender-choices a:hover, .gender-choices a.active {
    background: #cf7711; }
  .gender-choices a.active img {
    -webkit-filter: invert(100%) !important;
    -moz-filter: invert(100%) !important;
    -o-filter: invert(100%) !important;
    -ms-filter: invert(100%) !important;
    filter: invert(100%) !important; }

.response {
  padding: 20px;
  margin: 5px 0;
  box-sizing: border-box; }
  .response.error {
    color: #8e0000;
    background: #ed7777;
    text-align: center; }
