@import "compass/reset";

@import "partials/variables";
@import "partials/mixins";

@import "partials/base";
@import "partials/global";
@import "partials/layout";
@import "partials/type";

@import "partials/buttons";
@import "partials/form";
@import "partials/tabs";
@import "partials/navigation";
@import "partials/pages";
@import "partials/dashboard";
@import "partials/modals";


.gender-choices {
  a {
    height: 125px;
    width:50%;
    float: left;
    @include flexbox();
    background: $orange;
    color: #fff;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    span {
      padding:0 0 5px 0;
      display:block;
    }
    &:nth-child(2), &:nth-child(3) {
      background: $darkOrange;
    }
    &:hover, &.active {
      background:darken($darkOrange, 10%);
    }
  }
}

//MESSAGES
.response {
  padding: 20px;
  margin: 5px 0;
  box-sizing: border-box;
  &.error{
    color: $messageRedText;
    background: $messageRedBg;
    text-align: center;
  }
}

