buttonSM_base()
  background url('../img/map-buttons-sm.png')
  background-size 126px 116px
  width 31px
  height 29px
  display inline-block
  text-indent -9999px

.ButtonSM__choose
  buttonSM_base()
  background-position -62px -87px
  &:hover
    background-position -62px 0px
  &:active
    background-position -62px -29px

.ButtonSM__complete
  buttonSM_base()
  background-position -0px -87px
  &:hover
    background-position -0px 0px
  &:active
    background-position -0px -29px

.ButtonSM__dismiss
  buttonSM_base()
  background-position -93px -87px
  &:hover
    background-position -93px 0px
  &:active
    background-position -93px -29px