form
  > div
    lost-waffle 1
  label
    display block
    font-family 'Quattrocento Sans'
    font-size .75em
    font-weight bold
    text-transform uppercase
    line-height 2
    color #777
  input[type="text"], input[type="email"], input[type="password"]
    border-style none
    border-bottom 2px solid #ccc
    background #eee
    height 40px
    display flex
    align-items center
    width 100%
    font-size .85em
    box-sizing border-box
    padding 0 10px
  [type="submit"]
    display inline-block
    background white
    border 2px solid col_green
    color col_green
    font-weight 500
    font-size 1.25em
    border-radius 3px
    padding 10px 20px