.Login
  background white
  box-sizing border-box
  padding 20px
  border-radius 5px
  border 1px solid #f0f0f0
  .Banner &
    lost-column 1/2

@media (max-width:grid_sm)
  .Login
    .Banner &
      lost-column 1