/*
MIXINS
*/
@mixin container($width) {
  width:100%;
  max-width:$width;
  margin: 0 auto;
  display:block;
}

@mixin wrapper() {
  padding:10px 20px;
}

@mixin radius($px1, $px2, $px3, $px4) {
  -webkit-border-radius: $px1 $px2 $px3 $px4;
  -moz-border-radius: $px1 $px2 $px3 $px4;
  border-radius: $px1 $px2 $px3 $px4;
}

@mixin transition($type, $time) {
  -webkit-transition: $type $time ease-in-out;
  -moz-transition: $type $time ease-in-out;
  -ms-transition: $type $time ease-in-out;
  -o-transition: $type $time ease-in-out;
  transition: $type $time ease-in-out;
}

@mixin flexbox() {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
}