.tabs {
  .tab-heading {
    cursor: pointer;
  }
  .tab-single {
    z-index: 9999;
    .tab-content {
      display: none;
      @include transition(all, .3s);
    }
    &.active {
      z-index: 100;
      .tab-content {
        display: block;
      }
    }
  }
}