/*
VARIABLES
*/
//COLORS
$green: #3b6700;
$darkGreen: #31520b;
$yellow: #E9D23A;
$orange: #F3AE3E;
$darkOrange: #ed9126;
$messageRedText: #8e0000;
$messageRedBg: #ed7777;

//TYPOGRAPHY
$sansSerif: 'museo-sans', Helvetica, sans-serif;
$serif: 'museo', Georgia, serif;