body {
  background:url(../img/bg-repeat.jpg) repeat top center;
}

.banner {
  background: #f2f2f2;
  height:300px;
  display: flex;
  align-items: center;
  justify-content: center;
  body.home & {
    min-height: 500px;
    height: 100vh;
    background: url(../img/bg-body.jpg) no-repeat top center;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

//Homepage
.homepage-banner-headline {
  background: rgba(255, 255, 255, .8);
  //background: rgba(55, 102, 25, .8);
  text-align: center;
  border-radius: 20px;
  padding: 20px 20px 30px;
}

//Onboarding
.application-form {
  .pagePanel();
}

//Basic Page Style
.page-panel {
  .pagePanel();
}

//Categories
.category-list-item {
  position: relative;
  height:120px;
  transition: all .3s ease-in;
  &:hover {
    background:lighten(@brand-primary, 20%);
    h1 {
      color: #fff;
    }
  }
  &.active, &.chosen {
    background: @brand-primary;
    h1 {
      color: #fff;
    }
  }
  &.error {
    background: @brand-danger;
    h1 {
      color: #fff;
    }
  }
  p.lead {
    display: none;
  }
  h1 {
    font-size: 1em;
    position: absolute;
    bottom:0;
    left:0;
    margin: 0;
    padding: 20px;
  }
  a {
    cursor: pointer;
    display: block;
    width: 100%;
    height: 100%;
  }
}
