::selection {
  background: rgba(148, 215, 103, .8); /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: rgba(148, 215, 103, .8); /* Gecko Browsers */
}

//Main Container
.logo-block {
  padding-top: 7.5em;
  padding-bottom: 1.25em;
  img {
    width: 100%;
    max-width: intrinsic;
  }
}

.headline {
  //background: rgba(87, 136, 42, .8);
 // margin-bottom: 200px;
  h1 {
    font-weight: 300;
    color: darken(@brand-primary, 10%);
  }
  p {
    color: darken(@brand-primary, 10%);
  }
  label {
    color: darken(@brand-primary, 10%);
  }
  small {
    color: darken(@brand-primary, 10%);
  }
  border-bottom:1px solid rgba(87, 136, 42, .4);
}

.banner {
  height:550px;
  background: #fbcf8a url(../img/bg-body.jpg) no-repeat top center;
  background-size:cover;
}

.form-container {
  background: @brand-primary url(../img/bg-body-bottom.jpg) no-repeat center center;
  background-size:cover;
  min-height:300px;
  box-shadow: inset 0px 2px 15px rgba(0, 0, 0, .4);
}

.search-bar {
  background:lighten(@brand-primary,55%);
  padding-top:15px;
  margin-top: -300px;
  border-radius: 5px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, .35);
}

form {
  padding-top:25px;
}