//Global Styles
body {
  background: #fbcf8a url(../img/bg-body.jpg) no-repeat top center;
  background-size: cover;
}

::selection {
  background: rgba(148, 215, 103, .8); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: rgba(148, 215, 103, .8); /* Gecko Browsers */
}

//Main Container
.logo-block {
  padding-top:7.5em;
  padding-bottom: 1.25em;
  img {
    width: 100%;
    max-width:intrinsic;
  }
}

.headline {
  background:rgba(0, 0, 0, .2);
  h1 {
    font-weight: 300;
    color:#fff;
  }
  p {
    color:#fff;
  }
  label {
    color:#fff;
  }
}